body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.tabuleiro{
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat (3, 100px);
}